application/.next/
application/node_modules/
application/next-env.d.ts
back-end/.nest/
back-end/node_modules/
check-sums/
database/data/
environment-variables/
micro-front-ends/*/.next/
micro-front-ends/*/node_modules/
micro-front-ends/*/next-env.d.ts
micro-services/*/.nest/
micro-services/*/node_modules/
